
// Imports
@import compass
@import zen


// Constants
$zen-column-count: 8
$zen-gutter-width: 20px !default

$break-large: 1100px
$break-medium: 800px
$break-small: 520px


// Universal
html
  font-size: 16px

body
  font-size: 62.5% /* 1em = 10px */

.container
  +zen-grid-container
  margin: 0 50px
  font-size: 1.6em
  font-family: 'Josefin Sans', serif

// Typography
span.bold
  font-size: 1.1em
  font-family: 'Josefin Sans', sans-serif
  font-weight: 700

// Header
header
  +zen-grid-item(4,1)
  padding-left: 0

.logo
  text-align: center
  margin: 15px 0 10px 5px
  font-size: 4.5em
  font-family: 'Josefin Sans', sans-serif
  @media screen and (max-width: $break-medium)
    margin-left: 0
    text-align: left

.one-liner
  font-size: 1.5em
  font-family: 'Josefin Sans', serif
  letter-spacing: 0.5px
  p
    margin-bottom: 0
    margin-top: 0

// Tiles
#tiles
  position: absolute
  display: inline-block
  top: 30px
  +zen-grid-item(4,5)
  @media screen and (max-width: $break-medium)
    left: 40px

.tile
  width: 20%
  padding: 13px 1px

// Form

#mc-embedded-subscribe-form
  +zen-clear()
  +zen-grid-item(4,1)
  font-size: 1.1em
  @media screen and (max-width: $break-medium)
    text-align: center
    +zen-grid-item(8,1)

.button-submit
  margin: 5px 0
  border: none
  height: 33px
  width: 110px
  font-family: 'Josefin Sans', sans-serif
  font-size: 1.3em
  font-weight: bold
  letter-spacing: 1px
  background-color: #FF2F5C
  color: white
  &:hover
    background-color: #B21034

.email
  margin: 5px 0
  width: 320px
  height: 27px

select#type
  margin: 5px 0
  height: 27px
  width: 327px
  border: solid #aaa 1px

// Bullets
.bullets
  display: inline-block
  +zen-clear()
  +zen-grid-item(4,1)
  padding: 10px 0 0 0

// Press
.press
  +zen-clear
  +zen-grid-item(4,1)
  @media screen and (max-width: $break-large)
    +zen-grid-item(8,1)

#award-statement
  +zen-clear()
  text-align: center

.awards
  list-style: none
  padding: 0
  margin: 0 auto
  text-align: center
  li
    display: inline
    img
      margin: 0 10px


#conde-logo
  width: 250px
  position: relative
  top: -35px
  margin-top: 50px

#cfda-logo
  width: 180px

// Footer
footer
  position: relative
  bottom: -40px
  width: 100%
  background-color: #111
  padding: 10px 0 25px 0
  margin-top: 20px
  font-family: 'Josefin Sans', sans-serif
  font-size: 1.7em
  ul
    margin: 5px
    list-style: none
    text-align: center
    li
      display: inline
      a
        font-size: 1.1em
        color: white
        letter-spacing: 0.8px
        text-decoration: none